<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- title in partials/header.ejs -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->
    <h1>Mongoose Flight</h1>
    <a href="/flights/new">Add a Flight</a>
    <p>Welcome to <%= title %></p>
  </body>
</html>
